## FRED 스크래핑

[참고 사이트 : FRED](https://fred.stlouisfed.org/docs/api/fred/)

In [4]:
key ='6e866fceb4cbe64a36b95c7953f33c17'
kfred ='6e866fceb4cbe64a36b95c7953f33c17'
kbok = 'JYWDZURGKQQFBLAM4ZMT'

In [18]:
import requests 
import xml.etree.ElementTree as ET 

## 호출하려는 OpenAPI URL를 정의합니다.
url = f"http://ecos.bok.or.kr/api/StatisticItemList/{kbok}/json/kr/1/1/043Y070/"

## 정의된 OpenAPI URL을 호출합니다.

response = requests.get(url)

## http 요청이 성공했을때 API의 리턴값을 가져옵니다.

if response.status_code == 200:

    try:

        contents = response.text

        ecosRoot = ET.fromstring(contents)
     

        ## 호출결과에 오류가 있었는지 확인합니다.

        if ecosRoot[0].text[:4] in ("INFO","ERRO"):

            print(ecosRoot[0].text + " : " + ecosRoot[1].text)

            ## 오류메세지를 확인하고 처리합니다.

        else:

            print(contents)

            ## 결과값을 활용하여 필요한 프로그램을 작성합니다.
    except Exception as e:

        print(str(e))

        ##예외가 발생했을때 처리합니다.

not well-formed (invalid token): line 1, column 0

### 카테고리

In [ ]:
import requests
import pandas as pd
import json

temp =[]
for i in range(1,1000):
    url = f'https://api.stlouisfed.org/fred/category?category_id={i}&api_key={key}&file_type=json'

    HTML = requests.get(url)

    if HTML.status_code == 200:
        j = json.loads(HTML.content)
        temp.append(j['categories'][0])
df = pd.DataFrame(temp)
df

In [44]:
import json

url = f'https://api.stlouisfed.org/fred/category/children?category_id=13&api_key={key}&file_type=json'

HTML = requests.get(url).text
# HTML
json = json.loads(HTML)
json

{'categories': [{'id': 16, 'name': 'Exports', 'parent_id': 13},
  {'id': 17, 'name': 'Imports', 'parent_id': 13},
  {'id': 3000, 'name': 'Income Payments & Receipts', 'parent_id': 13},
  {'id': 33705, 'name': 'International Investment Position', 'parent_id': 13},
  {'id': 125, 'name': 'Trade Balance', 'parent_id': 13},
  {'id': 127, 'name': 'U.S. International Finance', 'parent_id': 13}]}

In [ ]:
df = pd.DataFrame(fred('category/series?category_id=125')['seriess'])

In [38]:
import json

url = f'https://api.stlouisfed.org/fred/category/related?category_id=32073&api_key={key}&file_type=json'

HTML = requests.get(url).text
# HTML
json = json.loads(HTML)
json

{'categories': [{'id': 149, 'name': 'Arkansas', 'parent_id': 27281},
  {'id': 150, 'name': 'Illinois', 'parent_id': 27281},
  {'id': 151, 'name': 'Indiana', 'parent_id': 27281},
  {'id': 152, 'name': 'Kentucky', 'parent_id': 27281},
  {'id': 153, 'name': 'Mississippi', 'parent_id': 27281},
  {'id': 154, 'name': 'Missouri', 'parent_id': 27281},
  {'id': 193, 'name': 'Tennessee', 'parent_id': 27281}]}

In [12]:
def fred(to_b):
    import requests
    import json
    url = f'https://api.stlouisfed.org/fred/{to_b}&api_key={key}&file_type=json'
    HTML = requests.get(url).text
    json = json.loads(HTML)
    print(f'url:{url}')
    return json

In [15]:
df = pd.DataFrame(fred('category/series?category_id=125')['seriess'])
df[df['observation_end']>'2020-01-01']

url:https://api.stlouisfed.org/fred/category/series?category_id=125&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes
0,AITGCBN,2021-01-17,2021-01-17,Advance U.S. International Trade in Goods: Bal...,2020-11-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-30 07:31:06-06,3,25,This advance estimate represents the current m...
1,AITGCBS,2021-01-17,2021-01-17,Advance U.S. International Trade in Goods: Bal...,2020-11-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-30 07:31:02-06,24,25,This advance estimate represents the current m...
23,BOPGSTB,2021-01-17,2021-01-17,"Trade Balance: Goods and Services, Balance of ...",1992-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:51:02-06,69,69,Further information related to the internation...
24,BOPGTB,2021-01-17,2021-01-17,"Trade Balance: Goods, Balance of Payments Basis",1992-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:51:07-06,42,42,This series represents monthly statistics of c...
25,BOPSTB,2021-01-17,2021-01-17,"Trade Balance: Services, Balance of Payments B...",1992-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:51:11-06,20,20,Further information related to the internation...
26,IEABC,2021-01-17,2021-01-17,Balance on current account,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:02-06,57,60,Calculated by subtracting the imports of goods...
28,IEABCG,2021-01-17,2021-01-17,Balance on goods,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:18-06,4,5,Calculated by subtracting the imports of goods...
30,IEABCGN,2021-01-17,2021-01-17,Balance on goods,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:47-06,1,5,Calculated by subtracting the imports of goods...
31,IEABCGS,2021-01-17,2021-01-17,Balance on goods and services,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:14-06,10,13,Calculated by subtracting the imports of goods...
33,IEABCGSN,2021-01-17,2021-01-17,Balance on goods and services,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:47-06,1,13,Calculated by subtracting the imports of goods...
34,IEABCN,2021-01-17,2021-01-17,Balance on current account,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:13-06,13,60,Calculated by subtracting the imports of goods...
35,IEABCP,2021-01-17,2021-01-17,Balance on capital account,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:12-06,34,38,Calculated by subtracting the capital transfer...
37,IEABCPI,2021-01-17,2021-01-17,Balance on primary income,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:14-06,10,11,Calculated by subtracting the primary income p...
39,IEABCPIN,2021-01-17,2021-01-17,Balance on primary income,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:47-06,1,11,Calculated by subtracting the primary income p...
40,IEABCPN,2021-01-17,2021-01-17,Balance on capital account,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:15-06,6,38,Calculated by subtracting the capital transfer...
41,IEABCS,2021-01-17,2021-01-17,Balance on services,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:18-06,3,4,Calculated by subtracting the imports of servi...
43,IEABCSI,2021-01-17,2021-01-17,Balance on secondary income,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2020-12-18 09:21:15-06,1,4,Calculated by subtracting the secondary income...
45,IEABCSIN,2021-01-17,2021-01-17,Balance on secondary income,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:48-06,2,4,Calculated by subtracting the secondary income...
46,IEABCSN,2021-01-17,2021-01-17,Balance on services,1999-01-01,2020-07-01,Quarterly,Q,Millions of Dollars,Mil. of $,Not Seasonally Adjusted,NSA,2020-12-18 09:21:48-06,1,4,Calculated by subtracting the imports of servi...

In [165]:
pd.DataFrame(fred('category/tags?category_id=125')['tags']).head()

url:https://api.stlouisfed.org/fred/category/tags?category_id=125&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,bea,src,Bureau of Economic Analysis,2012-02-27 10:18:19-06,79,54
1,nation,geot,,2012-02-27 10:18:19-06,99,54
2,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,54
3,usa,geo,United States of America,2012-02-27 10:18:19-06,100,54
4,balance,gen,,2012-02-27 10:18:19-06,47,50

In [166]:
# 
pd.DataFrame(fred('related_tags?category_id=125&tag_names=services;quarterly')['tags']).head()

url:https://api.stlouisfed.org/fred/related_tags?category_id=125&tag_names=services;quarterly&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,sa,seas,Seasonally Adjusted,2012-02-27 10:18:19-06,88,4178
1,usa,geo,United States of America,2012-02-27 10:18:19-06,100,3308
2,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,3216
3,nation,geot,,2012-02-27 10:18:19-06,99,2882
4,bea,src,Bureau of Economic Analysis,2012-02-27 10:18:19-06,79,2866

#### Releases

In [90]:
# Get all releases of economic data.
# 발행 정보 전체 불러오기(당월)
import pandas as pd
df = pd.DataFrame(fred('releases?')['releases'])
df.head(5)

url:https://api.stlouisfed.org/fred/releases?&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,press_release,link,notes
0,9,2021-01-12,2021-01-12,Advance Monthly Sales for Retail and Food Serv...,True,http://www.census.gov/retail/,The U.S. Census Bureau conducts the Advance Mo...
1,10,2021-01-12,2021-01-12,Consumer Price Index,True,http://www.bls.gov/cpi/,NaN
2,11,2021-01-12,2021-01-12,Employment Cost Index,True,http://www.bls.gov/ncs/ect/,NaN
3,13,2021-01-12,2021-01-12,G.17 Industrial Production and Capacity Utiliz...,True,http://www.federalreserve.gov/releases/g17/,NaN
4,14,2021-01-12,2021-01-12,G.19 Consumer Credit,True,http://www.federalreserve.gov/releases/g19/,NaN

In [89]:
# 발행 정보 id 리스트 조회
df = pd.DataFrame(fred('releases/dates?')['release_dates'])
df.head(5)

url:https://api.stlouisfed.org/fred/releases/dates?&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

   release_id                                       release_name        date
0         354  An Arbitrage-Free Three-Factor Term Structure ...  2021-01-12
1         441                          Coinbase Cryptocurrencies  2021-01-12
2          86                                   Commercial Paper  2021-01-12
3          72        Daily Treasury Inflation-Indexed Securities  2021-01-12
4         279                        Economic Policy Uncertainty  2021-01-12

In [91]:
# 발행정보 id로 불러오기
# fred('release?release_id=53')
pd.DataFrame(fred('release?release_id=53')['releases'])

url:https://api.stlouisfed.org/fred/release?release_id=53&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,press_release,link
0,53,2021-01-12,2021-01-12,Gross Domestic Product,True,https://www.bea.gov/data/gdp/gross-domestic-pr...

In [93]:
# 특정 정보 발행일 확인
# Get release dates for a release of economic data.
pd.DataFrame(fred('/release/dates?release_id=82')['release_dates'])

url:https://api.stlouisfed.org/fred//release/dates?release_id=82&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

    release_id        date
0           82  1997-02-10
1           82  1998-02-10
2           82  1999-02-04
3           82  2000-02-10
4           82  2001-01-16
5           82  2002-02-06
6           82  2003-02-07
7           82  2004-02-09
8           82  2005-02-17
9           82  2006-02-13
10          82  2007-02-16
11          82  2008-02-11
12          82  2009-03-03
13          82  2010-02-11
14          82  2011-02-23
15          82  2012-10-24
16          82  2013-04-10
17          82  2014-03-14
18          82  2015-02-02
19          82  2016-03-11
20          82  2017-06-29
21          82  2018-02-12
22          82  2019-03-19
23          82  2020-02-20

In [96]:
# Get the series on a release of economic data.
df = pd.DataFrame(fred('release/series?release_id=51')['seriess'])
df[df['observation_end']>'2020-01-01']

url:https://api.stlouisfed.org/fred/release/series?release_id=51&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes
0,BOMTVLM133S,2021-01-12,2021-01-12,U.S. Imports of Services - Travel,1992-01-01,2017-09-01,Monthly,M,Million of Dollars,Mil. of $,Seasonally Adjusted,SA,2017-11-03 08:12:15-05,1,1,Further information related to the internation...
1,BOMVGMM133S,2021-01-12,2021-01-12,U.S. Imports of Services: U.S. Government Misc...,1992-01-01,2013-12-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2014-10-20 09:27:37-05,1,1,"BEA has introduced new table presentations, in..."
2,BOMVJMM133S,2021-01-12,2021-01-12,U.S. Imports of Services - Direct Defense Expe...,1992-01-01,2013-12-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2014-10-20 09:26:44-05,1,1,"BEA has introduced new table presentations, in..."
3,BOMVMPM133S,2021-01-12,2021-01-12,U.S. Imports of Services - Passenger Fares,1992-01-01,2017-09-01,Monthly,M,Million of Dollars,Mil. of $,Seasonally Adjusted,SA,2017-11-03 08:12:15-05,1,1,Further information related to the internation...
4,BOMVOMM133S,2021-01-12,2021-01-12,U.S. Imports of Services - Other Private Servi...,1992-01-01,2013-12-01,Monthly,M,Million of Dollars,Mil. of $,Seasonally Adjusted,SA,2014-10-20 09:25:54-05,1,1,"BEA has introduced new table presentations, in..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,ITXMARM133S,2021-01-12,2021-01-12,U.S. Exports of Services: Maintenance and Repa...,1999-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:52:17-06,2,2,Further information related to the internation...
561,ITXOBSM133S,2021-01-12,2021-01-12,U.S. Exports of Services: Other Business Services,1999-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:52:17-06,1,1,Further information related to the internation...
562,ITXTAEM133S,2021-01-12,2021-01-12,U.S. Exports of Services: Travel (for All Purp...,1999-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:51:15-06,3,3,Further information related to the internation...
563,ITXTCIM133S,2021-01-12,2021-01-12,"U.S. Exports of Services: Telecommunications, ...",1999-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:52:17-06,2,2,Further information related to the internation...
564,ITXTRAM133S,2021-01-12,2021-01-12,U.S. Exports of Services: Transport,1999-01-01,2020-11-01,Monthly,M,Millions of Dollars,Mil. of $,Seasonally Adjusted,SA,2021-01-07 07:52:14-06,2,2,Further information related to the internation...

In [99]:
pd.DataFrame(fred('release/sources?release_id=51')['sources'])

url:https://api.stlouisfed.org/fred/release/sources?release_id=51&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,link
0,19,2021-01-12,2021-01-12,U.S. Census Bureau,http://www.census.gov/
1,18,2021-01-12,2021-01-12,U.S. Bureau of Economic Analysis,http://www.bea.gov/

In [103]:
pd.DataFrame(fred('release/tags?release_id=86')['tags']).head()

url:https://api.stlouisfed.org/fred/release/tags?release_id=86&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,commercial,gen,,2012-02-27 10:18:19-06,61,164
1,commercial paper,gen,,2012-03-19 10:40:59-05,44,164
2,frb,src,Board of Governors,2012-02-27 10:18:19-06,80,164
3,nation,geot,,2012-02-27 10:18:19-06,99,164
4,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,164

In [114]:
pd.DataFrame(fred('release/related_tags?release_id=86&tag_names=sa;foreign')['tags']).head()

url:https://api.stlouisfed.org/fred/release/related_tags?release_id=86&tag_names=sa;foreign&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,commercial,gen,,2012-02-27 10:18:19-06,61,6
1,commercial paper,gen,,2012-03-19 10:40:59-05,44,6
2,frb,src,Board of Governors,2012-02-27 10:18:19-06,80,6
3,nation,geot,,2012-02-27 10:18:19-06,99,6
4,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,6

In [182]:
pd.DataFrame(fred('release/tables?release_id=53')['elements'])
# pd.DataFrame(fred('release/tables')['elements'])

url:https://api.stlouisfed.org/fred/release/tables?release_id=53&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,13690,4081,5221,5402,7579,15424,15425,291652
element_id,13690,4081,5221,5402,7579,15424,15425,291652
release_id,53,53,53,53,53,53,53,53
series_id,None,None,None,None,None,None,None,None
parent_id,None,None,None,None,None,None,None,None
line,None,None,None,None,None,None,None,None
type,section,section,section,section,section,section,section,section
name,SECTION 1 - DOMESTIC PRODUCT AND INCOME,SECTION 2 - PERSONAL INCOME AND OUTLAYS,SECTION 3 - GOVERNMENT CURRENT RECEIPTS AND EX...,SECTION 4 - FOREIGN TRANSACTIONS,SECTION 5 - SAVING AND INVESTMENT,SECTION 6 - INCOME AND EMPLOYMENT BY INDUSTRY,SECTION 7 - SUPPLEMENTAL TABLES,SECTION 8 - NOT SEASONALLY ADJUSTED
level,0,0,0,0,0,0,0,0
children,[],[],[],[],[],[],[],[]

#### Series

In [123]:
# Get an economic data series.
pd.DataFrame(fred('series?series_id=GNPCA')['seriess'])

url:https://api.stlouisfed.org/fred/series?series_id=GNPCA&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
0,GNPCA,2021-01-12,2021-01-12,Real Gross National Product,1929-01-01,2019-01-01,Annual,A,Billions of Chained 2012 Dollars,Bil. of Chn. 2012 $,Not Seasonally Adjusted,NSA,2020-07-30 07:57:33-05,15,BEA Account Code: A001RX\n\n

In [125]:
# Get the categories for an economic data series.
pd.DataFrame(fred('series/categories?series_id=EXJPUS&')['categories'])

url:https://api.stlouisfed.org/fred/series/categories?series_id=EXJPUS&&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

    id           name  parent_id
0   95  Monthly Rates         15
1  275          Japan        158

##### 시리즈 데이터 다운로드

In [184]:
# Get the observations or data values for an economic data series.
pd.DataFrame(fred('series/observations?series_id=MSIM2')['observations'])

url:https://api.stlouisfed.org/fred/series/observations?series_id=MSIM2&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

    realtime_start realtime_end        date    value
0       2021-01-12   2021-01-12  1959-01-01        .
1       2021-01-12   2021-01-12  1959-02-01        .
2       2021-01-12   2021-01-12  1959-03-01        .
3       2021-01-12   2021-01-12  1959-04-01        .
4       2021-01-12   2021-01-12  1959-05-01        .
..             ...          ...         ...      ...
655     2021-01-12   2021-01-12  2013-08-01  11393.8
656     2021-01-12   2021-01-12  2013-09-01  11448.8
657     2021-01-12   2021-01-12  2013-10-01  11591.1
658     2021-01-12   2021-01-12  2013-11-01  11569.1
659     2021-01-12   2021-01-12  2013-12-01  11626.4

[660 rows x 4 columns]

In [167]:
# Get the release for an economic data series.
pd.DataFrame(fred('series/release?series_id=IRA')['releases'])

url:https://api.stlouisfed.org/fred/series/release?series_id=IRA&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,press_release,link
0,21,2021-01-12,2021-01-12,H.6 Money Stock Measures,True,http://www.federalreserve.gov/releases/h6/

##### 데이터 목록 찾기

In [188]:
# Get economic data series that match search text.
df = pd.DataFrame(fred('series/search?search_text=monetary+index')['seriess'])
df.to_csv('m2.csv')

url:https://api.stlouisfed.org/fred/series/search?search_text=monetary+index&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

In [187]:
# Get the FRED tags for a series search. Optionally, filter results by tag name, tag group, or tag search. See the related request fred/series/search/related_tags.
pd.DataFrame(fred('series/search/tags?series_search_text=monetary+service+index')['tags']).head(10)

url:https://api.stlouisfed.org/fred/series/search/tags?series_search_text=monetary+index&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,nation,geot,,2012-02-27 10:18:19-06,99,818
1,indexes,gen,,2012-02-27 10:18:19-06,84,810
2,copyrighted: citation required,cc,None,2018-12-17 23:33:13-06,88,754
3,nsa,seas,Not Seasonally Adjusted,2012-02-27 10:18:19-06,100,612
4,annual,freq,,2012-02-27 10:18:19-06,90,564
5,monetary aggregates,gen,,2012-02-27 10:18:19-06,57,552
6,discontinued,gen,,2012-02-27 10:18:19-06,67,422
7,oecd,src,Org. for Economic Co-operation and Development,2012-02-27 10:18:19-06,77,420
8,mei,rls,Main Economic Indicators,2012-08-16 15:21:17-05,76,412
9,sa,seas,Seasonally Adjusted,2012-02-27 10:18:19-06,88,404

In [142]:
# Get the related FRED tags for one or more FRED tags matching a series search. Optionally, filter results by tag group or tag search.
pd.DataFrame(fred('series/search/related_tags?series_search_text=mortgage+rate&tag_names=30-year;frb')['tags']).head(10)

url:https://api.stlouisfed.org/fred/series/search/related_tags?series_search_text=mortgage+rate&tag_names=30-year;frb&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,conventional,gen,,2012-02-27 10:18:19-06,21,4
1,discontinued,gen,,2012-02-27 10:18:19-06,67,4
2,h15,rls,H.15 Selected Interest Rates,2012-08-16 15:21:17-05,57,4
3,interest,gen,,2012-02-27 10:18:19-06,74,4
4,interest rate,gen,,2012-05-29 10:14:19-05,74,4
5,mortgage,gen,,2012-02-27 10:18:19-06,47,4
6,nation,geot,,2012-02-27 10:18:19-06,99,4
7,nsa,seas,Not Seasonally Adjusted,2012-02-27 10:18:19-06,100,4
8,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,4
9,rate,gen,,2012-02-27 10:18:19-06,87,4

In [190]:
# Get the FRED tags for a series.
pd.DataFrame(fred('series/tags?series_id=STLFSI')['tags']).head(10)

url:https://api.stlouisfed.org/fred/series/tags?series_id=STLFSI&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,nsa,seas,Not Seasonally Adjusted,2012-02-27 10:18:19-06,100,688206
1,usa,geo,United States of America,2012-02-27 10:18:19-06,100,606470
2,nation,geot,,2012-02-27 10:18:19-06,99,219454
3,copyrighted: citation required,cc,None,2018-12-17 23:33:13-06,88,206144
4,frb stl,src,St. Louis Fed,2012-02-27 10:18:19-06,68,78494
5,indexes,gen,,2012-02-27 10:18:19-06,84,48018
6,discontinued,gen,,2012-02-27 10:18:19-06,67,36662
7,financial,gen,,2012-02-27 10:18:19-06,55,20574
8,weekly,freq,,2012-02-27 10:18:19-06,68,3338
9,fsi,gen,Financial Stress Index,2014-08-08 14:01:37-05,26,34

In [146]:
# Get economic data series sorted by when observations were updated on the FRED® server (attribute last_updated). Results are limited to series updated within the last two weeks.
pd.DataFrame(fred('series/updates?')['seriess']).head(5)

url:https://api.stlouisfed.org/fred/series/updates?&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
0,GOLDPMGBD230NLBM,2021-01-12,2021-01-12,Gold Fixing Price 3:00 P.M. (London time) in L...,1999-01-04,2021-01-12,Daily,D,Euros per Troy Ounce,Euros per Troy Ounce,Not Seasonally Adjusted,NSA,2021-01-12 20:31:06-06,48,The London Bullion Market Association (LBMA) G...
1,GOLDPMGBD229NLBM,2021-01-12,2021-01-12,Gold Fixing Price 3:00 P.M. (London time) in L...,1968-04-01,2021-01-12,Daily,D,British Pounds per Troy Ounce,British Pounds per Troy Ounce,Not Seasonally Adjusted,NSA,2021-01-12 20:31:06-06,23,The London Bullion Market Association (LBMA) G...
2,GOLDAMGBD230NLBM,2021-01-12,2021-01-12,Gold Fixing Price 10:30 A.M. (London time) in ...,1999-01-04,2021-01-12,Daily,D,Euros per Troy Ounce,Euros per Troy Ounce,Not Seasonally Adjusted,NSA,2021-01-12 20:31:04-06,29,The London Bullion Market Association (LBMA) G...
3,GOLDPMGBD228NLBM,2021-01-12,2021-01-12,Gold Fixing Price 3:00 P.M. (London time) in L...,1968-04-01,2021-01-12,Daily,D,U.S. Dollars per Troy Ounce,U.S. $ per Troy Ounce,Not Seasonally Adjusted,NSA,2021-01-12 20:31:04-06,74,The London Bullion Market Association (LBMA) G...
4,GOLDAMGBD229NLBM,2021-01-12,2021-01-12,Gold Fixing Price 10:30 A.M. (London time) in ...,1968-04-01,2021-01-12,Daily,D,British Pounds per Troy Ounce,British Pounds per Troy Ounce,Not Seasonally Adjusted,NSA,2021-01-12 20:31:03-06,16,The London Bullion Market Association (LBMA) G...

In [149]:
# Get the dates in history when a series' data values were revised or new data values were released. Vintage dates are the release dates for a series excluding release dates when the data for the series did not change.
pd.DataFrame(fred('series/vintagedates?series_id=GNPCA')['vintage_dates']).head(5)

url:https://api.stlouisfed.org/fred/series/vintagedates?series_id=GNPCA&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

            0
0  1958-12-21
1  1959-02-19
2  1959-07-19
3  1960-02-16
4  1960-07-22

#### Sources

In [150]:
# Get all sources of economic data.
pd.DataFrame(fred('sources?')['sources']).head(5)

url:https://api.stlouisfed.org/fred/sources?&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,link,notes
0,1,2021-01-12,2021-01-12,Board of Governors of the Federal Reserve Syst...,http://www.federalreserve.gov/,NaN
1,3,2021-01-12,2021-01-12,Federal Reserve Bank of Philadelphia,https://www.philadelphiafed.org/,NaN
2,4,2021-01-12,2021-01-12,Federal Reserve Bank of St. Louis,http://www.stlouisfed.org/,NaN
3,6,2021-01-12,2021-01-12,Federal Financial Institutions Examination Cou...,http://www.ffiec.gov/,NaN
4,11,2021-01-12,2021-01-12,Dow Jones & Company,http://www.dowjones.com,NaN

In [153]:
# Get a source of economic data.
pd.DataFrame(fred('source?source_id=1')['sources'])

url:https://api.stlouisfed.org/fred/source?source_id=1&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,link
0,1,2021-01-12,2021-01-12,Board of Governors of the Federal Reserve Syst...,http://www.federalreserve.gov/

In [156]:
# Get the releases for a source.
pd.DataFrame(fred('source/releases?source_id=1')['releases']).head()

url:https://api.stlouisfed.org/fred/source/releases?source_id=1&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,name,press_release,link,notes
0,13,2021-01-12,2021-01-12,G.17 Industrial Production and Capacity Utiliz...,True,http://www.federalreserve.gov/releases/g17/,NaN
1,14,2021-01-12,2021-01-12,G.19 Consumer Credit,True,http://www.federalreserve.gov/releases/g19/,NaN
2,15,2021-01-12,2021-01-12,G.5 Foreign Exchange Rates,True,http://www.federalreserve.gov/releases/g5/,NaN
3,17,2021-01-12,2021-01-12,H.10 Foreign Exchange Rates,True,http://www.federalreserve.gov/releases/h10/,NaN
4,18,2021-01-12,2021-01-12,H.15 Selected Interest Rates,True,http://www.federalreserve.gov/releases/h15/,NaN

#### Tags

In [175]:
# Get FRED tags. Optionally, filter results by tag name, tag group, or search. FRED tags are attributes assigned to series. See the related request fred/related_tags.
pd.DataFrame(fred('tags?')['tags']).head()

url:https://api.stlouisfed.org/fred/tags?&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,nsa,seas,Not Seasonally Adjusted,2012-02-27 10:18:19-06,100,687458
1,usa,geo,United States of America,2012-02-27 10:18:19-06,100,606570
2,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,554384
3,annual,freq,,2012-02-27 10:18:19-06,90,444996
4,county,geot,County or County Equivalent,2012-02-27 10:18:19-06,80,328164

In [170]:
# Get the related FRED tags for one or more FRED tags. Optionally, filter results by tag group or search.
# FRED tags are attributes assigned to series. Related FRED tags are the tags assigned to series that match all tags in the tag_names parameter and no tags in the exclude_tag_names parameter. See the related request fred/tags.
pd.DataFrame(fred('related_tags?tag_names=monetary+aggregates;weekly')['tags']).head()

url:https://api.stlouisfed.org/fred/related_tags?tag_names=monetary+aggregates;weekly&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,name,group_id,notes,created,popularity,series_count
0,nation,geot,,2012-02-27 10:18:19-06,99,12
1,usa,geo,United States of America,2012-02-27 10:18:19-06,100,12
2,frb,src,Board of Governors,2012-02-27 10:18:19-06,80,10
3,h6,rls,H.6 Money Stock Measures,2012-08-16 15:21:17-05,51,10
4,public domain: citation requested,cc,None,2018-12-17 23:33:13-06,100,10

In [179]:
# Get the series matching all tags in the tag_names parameter and no tags in the exclude_tag_names parameter.
pd.DataFrame(fred('tags/series?tag_names=korea;food;oecd')['seriess']).head()
# len(pd.DataFrame(fred('tags/series?tag_names=korea;oecd')['seriess']))

url:https://api.stlouisfed.org/fred/tags/series?tag_names=korea;food;oecd&api_key=6e866fceb4cbe64a36b95c7953f33c17&file_type=json

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes
0,CPGDFD02KRA657N,2021-01-12,2021-01-12,Consumer Price Index: Total Food Excluding Res...,1985-01-01,2017-01-01,Annual,A,Growth Rate Previous Period,Growth Rate Previous Period,Not Seasonally Adjusted,NSA,2018-02-26 13:46:12-06,1,1,OECD descriptor ID: CPGDFD02\nOECD unit ID: GP...
1,CPGDFD02KRA659N,2021-01-12,2021-01-12,Consumer Price Index: Total Food Excluding Res...,1985-01-01,2017-01-01,Annual,A,Growth Rate Same Period Previous Year,Growth Rate Same Period Previous Yr.,Not Seasonally Adjusted,NSA,2018-02-26 13:46:12-06,1,1,OECD descriptor ID: CPGDFD02\nOECD unit ID: GY...
2,CPGDFD02KRM657N,2021-01-12,2021-01-12,Consumer Price Index: Total Food Excluding Res...,1985-01-01,2018-05-01,Monthly,M,Growth Rate Previous Period,Growth Rate Previous Period,Not Seasonally Adjusted,NSA,2018-06-05 14:13:01-05,1,1,OECD descriptor ID: CPGDFD02\nOECD unit ID: GP...
3,CPGDFD02KRM659N,2021-01-12,2021-01-12,Consumer Price Index: Total Food Excluding Res...,1985-01-01,2018-05-01,Monthly,M,Growth Rate Same Period Previous Year,Growth Rate Same Period Previous Yr.,Not Seasonally Adjusted,NSA,2018-06-05 14:13:01-05,1,1,OECD descriptor ID: CPGDFD02\nOECD unit ID: GY...
4,CPGDFD02KRQ657N,2021-01-12,2021-01-12,Consumer Price Index: Total Food Excluding Res...,1985-01-01,2018-01-01,Quarterly,Q,Growth Rate Previous Period,Growth Rate Previous Period,Not Seasonally Adjusted,NSA,2018-04-04 10:12:05-05,0,1,OECD descriptor ID: CPGDFD02\nOECD unit ID: GP...